@{
    ViewData["Title"] = "Projeto My Sallers";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programador @ViewData["Programador"]</p>

<address>
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/matheus-lomando-b4a402146/">Linkedin Matheus Lomando</a> 
</address>